<% content_for :sidebar do %>
  <%= render :partial => 'services/sidebar' %>
<% end %>

<div class="contextual"></div>

<% html_title @service.name %>
<h2 class="inline-block"><%= @service.name %></h2>

<div class="tabs hide-when-print">
  <ul>
    <li><a href="<%= url_for(:controller => :services, :action => :show, :id => @service.id) %>"><%= l(:label_text_detail) %></a></li>
    <li><a class="selected" href="javascript:void(0)"><%= l(:label_text_setting) %></a></li>
  </ul>
</div>

<%= labelled_form_for @service, :repo_url => url_for(:controller => 'services', :action => :update) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, :update => true} %>
  <%= submit_tag l(:button_update) %>
<% end %>
